<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <meta name="msvalidate.01" content="4AE5176E6D1140B66629A650FCA40463" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PW6QDRBR');</script>
    <!-- End Google Tag Manager -->

    <!-- Clickstream on AWS -->
    <script src="{{ "/js/clickstream-web.min.js" | prepend: site.baseurl }}" />
    <script>
        window.ClickstreamAnalytics.init({
            appId: 'myblog',
            endpoint: 'http://Clicks-Inges-xvNKJAMTPySB-1301106535.ap-northeast-1.elb.amazonaws.com/collect',
        })
    </script>
</head>
